
<style>
  .bb:hover {
    background-color: #c3c3c3; /* Change the background color on hover */
  }
  *{
    font-family: "Roboto Light", sans-serif;
  }
  .no-padding {
    padding: 0 !important;
    margin: 0 !important;
  }

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid bg-light">
  <div class="row">
    <!-- Sidebar - Only displayed on md+ screens -->
    <nav id="sidebar" class="sidebar d-none d-md-block col-md-3 col-lg-2 bg-dark p-0 sticky-top" style="height: 100vh" *ngIf="!isAuthPage">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <!-- Logo hidden on mobile -->
          <div class="py-5 px-3">
            <img src="/logo.png" class="d-flex justify-content-center align-content-center w-100" width="100" />
          </div>

          <!-- Sidebar items displayed only on md+ screens -->
          <li class="nav-item " *ngFor="let item of menuItems">
            <a class="nav-link btn btn-secondary text-white text-lg-start rounded-0" [routerLink]="item.route">
              <div class="d-flex justify-content-between">
                <div class="row d-flex align-items-center">
                  <i [class]="item.icon + ' col-md-1'"></i>
                  <div class="col">{{ item.label }}</div>
                  <i class="fa-solid fa-chart-simple col-md-1"></i>
                  <div class="col">Dashboard</div>
                </div>
                <div class="text-secondary">
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary text-white text-lg-start rounded-0 " routerLink="/clients">
              <div class="d-flex justify-content-between w-full ">

                <div class="row d-flex align-items-center">
                  <i class="fa-solid fa-user col-md-1 "></i>
                  <div class="col">Clients</div>
                </div>
                <div class="text-secondary">
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>

            </a>
          </li>
          <li class="nav-item">
            <a class=" nav-link btn btn-secondary text-white text-lg-start rounded-0" routerLink="/employees">
              <div class="d-flex justify-content-between ">

                <div class="row d-flex align-items-center">
                  <i class="fa-solid fa-user-tie col-md-1"></i>
                  <div class="col">Employes</div>
                </div>
                <div class="text-secondary">
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>

            </a>
          </li>
          <li class="nav-item">
            <a class=" nav-link btn btn-secondary text-white text-lg-start rounded-0" routerLink="/groups">
              <div class="d-flex justify-content-between ">

                <div class="row d-flex align-items-center">
                  <i class="fa-solid fa-users col-md-1"></i>
                  <div class="col">Groupes</div>
                </div>
                <div class="text-secondary">
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>

            </a>
          </li>
          <li class="nav-item">
            <a class=" nav-link btn btn-secondary text-white text-lg-start rounded-0" routerLink="/comptes">
              <div class="d-flex justify-content-between ">

                <div class="row d-flex align-items-center">
                  <i class="fa-solid fa-file-invoice col-md-1"></i>
                  <div class="col">Comptes</div>
                </div>
                <div class="text-secondary">
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>

            </a>
          </li>
          <li class="nav-item">
            <a class=" nav-link btn btn-secondary text-white text-lg-start rounded-0" routerLink="/virement">
              <div class="d-flex justify-content-between ">
                <div class="row d-flex align-items-center">
                  <i class="fa-solid fa-money-bill-transfer col-md-1"></i>
                  <div class="col">Virement</div>
                </div>
                <div class="text-secondary">
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>

            </a>
          </li>
          <li class="nav-item">
            <a class=" nav-link btn btn-secondary text-white text-lg-start rounded-0" routerLink="/operations">
              <div class="d-flex justify-content-between ">

                <div class="row d-flex align-items-center">
                  <i class="fa-solid fa-file-invoice-dollar col-md-1"></i>
                  <div class="col">Operations</div>
                </div>
                <div class="text-secondary">
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>

            </a>
          </li>
          <!-- Add other links as needed -->
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main [ngClass]="{'col-md-9 ms-sm-auto col-lg-10': !isAuthPage, 'col-12': isAuthPage}" class="p-0">
      <!-- Navbar with Sidebar Items on Mobile -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top border-bottom border-black" *ngIf="!isAuthPage">
        <div class="container-fluid">
          <a class="navbar-brand bb px-2 d-none d-md-block" routerLink="/dashboard">Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Navbar Items -->
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link bb" routerLink="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bb" routerLink="/settings">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bb" routerLink="/logout">Logout</a>
              </li>
              <!-- Sidebar items dropdown for mobile -->
              <li class="nav-item dropdown d-md-none">
                <a class="nav-link dropdown-toggle bb" href="#" id="sidebarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleSidebar()">
                  Menu
                </a>
                <ul class="navbar-nav ms-auto">
                  <li *ngFor="let item of menuItems" class="nav-item">
                    <a class="nav-link bb" [routerLink]="item.route">
                      <i [class]="item.icon"></i>
                      {{ item.label }}
                    </a>
                  </li>
                </ul>

              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Dashboard Content -->
      <div class="pt-4 px-4" [ngClass]="{ 'no-padding': isAuthPage }">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
