
<style>
  .bb:hover {
    background-color: #c3c3c3; /* Change the background color on hover */
  }
</style>

<div class="container-fluid">
  <div class="row ">
    <!-- Sidebar and Navbar - Only displayed if not login or register page -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block  sidebar collapse position-fixed h-100 bg-black  border-end border-black " *ngIf="!isAuthPage">
      <div class="position-sticky pt-3 ">

        <img src="/logo.webp" class="d-flex justify-content-center align-content-center w-100" width="100"/>
        <ul class="nav flex-column  ">
          <li class="nav-item ">
            <a class="nav-link btn btn-outline-dark text-white text-lg-start rounded-0  " routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-dark text-white text-lg-start rounded-0 " routerLink="/clients">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-dark text-white text-lg-start rounded-0" routerLink="/versement">Versement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-dark text-white text-lg-start rounded-0" routerLink="/virement">Virements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-dark text-white text-lg-start rounded-0" routerLink="/comptes">Comptes</a>
          </li>
          <!-- Add other links as needed -->
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 p-0 ">
      <!-- Navbar - Only displayed if not login or register page -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top border-bottom border-black" *ngIf="!isAuthPage">
        <div class="container-fluid">
          <a class="navbar-brand bb px-2" routerLink="/dashboard">Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link bb" routerLink="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bb" routerLink="/settings">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bb"  routerLink="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Dashboard Content -->
      <div class="pt-4 px-4"  >
        <!-- Content section: Renders different components based on route -->
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
