<div class="container pb-2">
  <div class="card">
    <div class="card-header">
      <h5>Versement Client</h5>
      <p class="mb-0 small">Déposer des fonds sur un compte client</p>
    </div>
    <div class="card-body">
      <form (ngSubmit)="submitVersement()">

        <!-- Sélection de l'employé -->
        <div class="mb-3">
          <label for="employeeSelect" class="form-label">Sélectionner un employé</label>
          <select class="form-select" id="employeeSelect" [(ngModel)]="versementRequest.codeEmploye" name="employee" required>
            <option selected disabled>Sélectionnez l'employé qui effectue le versement...</option>
            <option *ngFor="let employe of employees" [value]="employe.codeEmploye">
              {{ employe.nomEmploye }}
            </option>
          </select>
        </div>

        <!-- Sélection du client source -->
        <div class="mb-3">
          <label for="sourceClientSelect" class="form-label">Client</label>
          <select class="form-select" id="sourceClientSelect" [(ngModel)]="selectedClient" name="sourceClient" (change)="fetchAccounts()" required>
            <option selected disabled>Sélectionnez le client source...</option>
            <option *ngFor="let client of clients" [value]="client.codeClient">
              {{ client.nomClient }}
            </option>
          </select>
        </div>

        <!-- Sélection du compte source -->
        <div class="mb-3">
          <label for="sourceAccountSelect" class="form-label">Compte </label>
          <select class="form-select" id="sourceAccountSelect" [(ngModel)]="selectedAccount" name="sourceAccount" required>
            <option selected disabled>Sélectionnez le compte source...</option>
            <option *ngFor="let compte of comptes" [value]="compte.codeCompte">
              Compte {{ compte.codeCompte }} - Solde: {{ compte.solde }} €
            </option>
          </select>
        </div>

        <!-- Montant -->
        <div class="mb-3">
          <label for="amountInput" class="form-label">Montant du Versement</label>
          <input type="number" class="form-control" id="amountInput" [(ngModel)]="versementRequest.montant" name="amount" placeholder="Entrez le montant" required>
        </div>

        <!-- Date -->
        <div class="mb-3">
          <label for="dateInput" class="form-label">Date</label>
          <input type="date" class="form-control" id="dateInput" [(ngModel)]="dateOperation" name="date" required>
        </div>

        <!-- Bouton de soumission -->
        <button type="submit" class="btn btn-primary">Soumettre le Versement</button>
      </form>
    </div>
  </div>
</div>
