<div class="container pb-2">
  <div *ngIf="showAlert" [ngClass]="{'alert-success': alertMessage.includes('succès'), 'alert-danger': !alertMessage.includes('succès')}" class="alert" role="alert">
    {{ alertMessage }}
  </div>
  <!-- Card for Employee List -->
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="mb-0">Liste des employés</h5>
      <button class="btn btn-primary" data-bs-target="#create-employee" data-bs-toggle="modal">
        Ajouter Employé
      </button>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Code Employé</th>
          <th scope="col">Nom Employé</th>
          <th scope="col">Code Supérieur</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of paginatedEmployees">
          <td>{{ employee.codeEmploye }}</td>
          <td>{{ employee.nomEmploye }}</td>
          <td>{{ employee.codeEmployeSuperieur || '-' }}</td>
          <td class="d-flex gap-2">
            <button (click)="prepareEditEmployee(employee)" class="btn btn-info" data-bs-target="#edit-employee" data-bs-toggle="modal">
              Modifier
            </button>
            <button class="btn btn-warning">
              Voir Opérations
            </button>
            <button (click)="deleteEmployee(employee.codeEmploye)" class="btn btn-danger">
              Supprimer
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of pageNumbers" [class.active]="currentPage === page">
          <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Modal for Editing Employee -->
  <div class="modal fade" id="edit-employee" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modifier Employé</h5>
          <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateEmployee()">
            <div class="mb-3">
              <label class="form-label" for="editNomEmploye">Nom Employé</label>
              <input [(ngModel)]="editingEmployee.nomEmploye" class="form-control" id="editNomEmploye" name="nomEmploye" required type="text">
            </div>
            <div class="mb-3">
              <label class="form-label" for="editCodeSupEmployee">Supérieur</label>
              <select [(ngModel)]="editingEmployee.codeEmployeSuperieur" class="form-select" id="editCodeSupEmployee" name="codeEmployeSuperieur">
                <option [ngValue]="undefined">Aucun supérieur</option>
                <option *ngFor="let emp of employees" [ngValue]="emp.codeEmploye">{{ emp.nomEmploye }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="editGroupes">Groupes</label>
              <select (change)="onGroupSelectionChange($event, editingEmployee)" [ngModel]="editingEmployee.codesGroupes" class="form-select" id="editGroupes" name="codesGroupes">
                <option *ngFor="let group of groups" [value]="group.codeGroupe">{{ group.nomGroupe }}</option>
              </select>
            </div>
            <button class="btn btn-primary" data-bs-dismiss="modal" type="submit">Mettre à jour</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Employee Operations
  <div class="modal fade" id="operations" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Opérations</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="employee">
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Type</th>
                <th>Numéro</th>
                <th>Date</th>
                <th>Montant</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let operation of employee.operations; let i = index">
                <th>{{ i + 1 }}</th>
                <td>{{ operation.DTYPE }}</td>
                <td>{{ operation.numeroOperation }}</td>
                <td>{{ operation.dateOperation | date }}</td>
                <td>{{ operation.montant }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Modal for Creating Employee -->
  <div class="modal fade" id="create-employee" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Créer Employé</h5>
          <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="addEmployee()">
            <div class="mb-3">
              <label class="form-label">Nom Employé</label>
              <input [(ngModel)]="newEmployee.nomEmploye" class="form-control" name="nomEmploye" required type="text">
            </div>
            <div class="mb-3">
              <label class="form-label">Nom Employé Supérieur</label>
              <select [(ngModel)]="newEmployee.codeEmployeSuperieur" class="form-select" name="codeEmployeSuperieur">
                <option [ngValue]="undefined" disabled selected>Sélectionner un supérieur</option>
                <option *ngFor="let emp of employees" [ngValue]="emp.codeEmploye">{{ emp.nomEmploye }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="newGroupes">Groupes</label>
              <select (change)="onGroupSelectionChange($event, newEmployee)" [ngModel]="newEmployee.codesGroupes" class="form-select" id="newGroupes" name="codesGroupes">
                <option *ngFor="let group of groups" [value]="group.codeGroupe">{{ group.nomGroupe }}</option>
              </select>
            </div>
            <button class="btn btn-primary" data-bs-dismiss="modal" type="submit">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
