<div class="container pb-2">
  <!-- Card for Comptes List -->
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">Comptes List</h5>
    </div>
    <div class="card-body">
      <!-- Comptes Table -->
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Type Compte</th>
          <th scope="col">Code Compte</th>
          <th scope="col">Date Creation</th>
          <th scope="col">Solde</th>
          <th scope="col">Decouvert</th>
          <th scope="col">Taux</th>
          <th scope="col">Code Client</th>
          <th scope="col">Code Employee</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through comptes and display each one -->
        <tr *ngFor="let compte of comptes">
          <td>{{ compte.typeCompte }}</td>
          <td>{{ compte.codeCompte }}</td>
          <td>{{ compte.dateCreation }}</td>
          <td>{{ compte.solde }}</td>
          <td>{{ compte.decouvert }}</td>
          <td>{{ compte.taux }}%</td>
          <td>{{ compte.codeClient }}</td>
          <td>{{ compte.codeEmploye }}</td>
          <td>
            <button class="btn btn-info" (click)="getOneCompte(compte.codeCompte)" data-bs-toggle="modal" data-bs-target="#exampleModal">
              View Details
            </button>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Compte Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Single Compte Details -->
          <div *ngIf="compte" class="mt-4">
                <p><strong>Code Compte:</strong> {{ compte.codeCompte }}</p>
                <p><strong>Type Compte:</strong> {{ compte.typeCompte }}</p>
                <p><strong>Date Creation:</strong> {{ compte.dateCreation }}</p>
                <p><strong>Solde:</strong> {{ compte.solde }}</p>
                <p><strong>Decouvert:</strong> {{ compte.decouvert }}</p>
                <p><strong>Taux:</strong> {{ compte.taux }}%</p>
                <p><strong>Code Client:</strong> {{ compte.codeClient }}</p>
                <p><strong>Code Employee:</strong> {{ compte.codeEmploye }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>
