<div class="container pb-2">
  <!-- Card for Comptes List -->
  <div class="card ">
    <div class="card-header">
      <h5 class="mb-0">
        Liste des Comptes
        <!-- Button to trigger Add Compte Modal -->
        <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addCompteModal">
          Ajouter un Compte
        </button>
      </h5>
    </div>
    <div class="card-body overflow-auto">
      <!-- Comptes Table -->
      <table class="table table-hover ">
        <thead>
        <tr>
          <th scope="col">Type de Compte</th>
          <th scope="col">Code Compte</th>
          <th scope="col">Date de Création</th>
          <th scope="col">Solde</th>
          <th scope="col">Découvert</th>
          <th scope="col">Taux</th>
          <th scope="col">Code Client</th>
          <th scope="col">Code Employé</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through comptes and display each one -->
        <tr *ngFor="let compte of paginatedComptes">
          <td>{{ compte.typeCompte }}</td>
          <td>{{ compte.codeCompte }}</td>
          <td>{{ compte.dateCreation | date }}</td>
          <td>{{ compte.solde }}</td>
          <td>{{ compte.typeCompte == 'CC' ? compte.decouvert : '-' }}</td>
          <td>{{ compte.typeCompte == 'CE'? compte.taux + '%' : '-' }}</td>
          <td>{{ compte.codeClient }}</td>
          <td>{{ compte.codeEmploye }}</td>
          <td class="">
            <div class="d-flex gap-2 ">
              <!-- View Details Button -->
              <button class="btn btn-info btn-sm" (click)="getOneCompte(compte.codeCompte)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Détails
              </button>
              <button class="btn btn-warning btn-sm" (click)="getOneCompte(compte.codeCompte)" data-bs-toggle="modal" data-bs-target="#update-compte">
                Modifier
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteCompte(compte.codeCompte)" >
                Supprimer
              </button>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of pageNumbers" [class.active]="currentPage === page">
          <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>

  <!-- Modal for Adding Compte -->
  <div class="modal fade" id="addCompteModal" tabindex="-1" aria-labelledby="addCompteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addCompteModalLabel">Ajouter un compte</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="addCompte()">
            <!-- Type Compte Dropdown -->
            <div class="mb-3">
              <label for="typeCompte" class="form-label">Type de Compte</label>
              <select class="form-select" id="typeCompte" [(ngModel)]="newCompte.typeCompte" name="typeCompte" required>
                <option value="CE">Compte Épargne (CE)</option>
                <option value="CC">Compte Courant (CC)</option>
                <!-- Add more types as needed -->
              </select>
            </div>

            <div class="mb-3">
              <label for="client" class="form-label">Clients</label>
              <select class="form-select" id="client" [(ngModel)]="newCompte.codeClient" name="typeCompte" required>
                <option *ngFor="let client of clients" [value]="client.codeClient">{{client.nomClient}}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="employe" class="form-label">Employé</label>
              <select class="form-select" id="employe" [(ngModel)]="newCompte.codeEmploye" name="typeCompte" required>
                <option *ngFor="let employee of employees" [value]="employee.codeEmploye">{{employee.nomEmploye}}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="solde" class="form-label">Solde</label>
              <input type="number" class="form-control" id="solde" [(ngModel)]="newCompte.solde" name="solde" required />
            </div>

            <!-- Taux Input -->
            <div class="mb-3" *ngIf="newCompte.typeCompte == 'CE' ">
              <label for="taux" class="form-label">Taux</label>
              <input type="number" class="form-control" id="taux" [(ngModel)]="newCompte.taux" name="taux" required />
            </div>
            <div class="mb-3" *ngIf="newCompte.typeCompte == 'CC' ">
              <label for="decouvert" class="form-label">Découvert</label>
              <input type="number" class="form-control" id="decouvert" [(ngModel)]="newCompte.decouvert" name="taux" required />
            </div>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Viewing Compte Details (already existing) -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Détails du Compte</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <!-- Single Compte Details -->
          <div *ngIf="compte" class="mt-4">
            <p><strong>Code Compte :</strong> {{ compte.codeCompte }}</p>
            <p><strong>Type de Compte :</strong> {{ compte.typeCompte }}</p>
            <p><strong>Date de Création :</strong> {{ compte.dateCreation | date }}</p>
            <p><strong>Solde :</strong> {{ compte.solde }}</p>
            <p *ngIf="compte.typeCompte == 'CC'"><strong>Découvert :</strong> {{ compte.decouvert }}</p>
            <p *ngIf="compte.typeCompte == 'CE'"><strong>Taux :</strong> {{ compte.taux }}%</p>
            <p><strong>Code Client :</strong> {{ compte.codeEmploye }}</p>
            <p><strong>Code Employé :</strong> {{ compte.codeClient }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Viewing Compte Update (already existing) -->
  <div class="modal fade" id="update-compte" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="update-compteLabel">Détails du Compte</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">

          <form (ngSubmit)="updateCompte()">

            <!-- Single Compte Details -->
            <div *ngIf="compte" class="mt-4">

              <p><strong>Code Compte :</strong> {{ compte.codeCompte }}</p>
              <p><strong>Type de Compte :</strong> {{ compte.typeCompte }}</p>
              <p><strong>Date de Création :</strong> {{ compte.dateCreation | date }}</p>

              <!-- Solde -->
              <div class="mb-3">
                <label for="SoldeUpdate" class="form-label">Solde</label>
                <input type="number" class="form-control" id="SoldeUpdate" [(ngModel)]="compte.solde" name="codeEmploye" required />
              </div>
              <!-- Taux Input -->
              <div class="mb-3" *ngIf="compte.typeCompte == 'CE' ">
                <label for="tauxUpdate" class="form-label">Taux</label>
                <input type="number" class="form-control" id="tauxUpdate" [(ngModel)]="compte.taux" name="taux" required />
              </div>
              <div class="mb-3" *ngIf="compte.typeCompte == 'CC' ">
                <label for="decouvertUpdate" class="form-label">Découvert</label>
                <input type="number" class="form-control" id="decouvertUpdate" [(ngModel)]="compte.decouvert" name="taux" required />
              </div>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Mettre à jour le Compte</button>

            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
