<div class="container" style="min-height: 100vh">
  <div class="row">
    <!-- First Card in Row 1 -->
    <div class="col-md-4">
      <div class="card rounded-2 bg-primary text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title">Clients</h5>
          <h6>{{ quantities.Client ? 'x'+quantities.Client : ''  }}</h6>
        </div>
        <div class="card-body">
          <a href="#" routerLink="/clients" class="text-decoration-none text-white d-flex align-items-center gap-2 btn-med">
            <div>View Clients</div> <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Second Card in Row 1 -->
    <div class="col-md-4">
      <div class="card rounded-2 bg-warning text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title">Employees</h5>
          <h6>{{ quantities.Employe ? 'x'+quantities.Employe : ''  }}</h6>
        </div>
        <div class="card-body">
          <a href="#" routerLink="/employees" class="text-decoration-none text-white d-flex align-items-center gap-2 btn-med">
            <div>View Versement</div> <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Third Card in Row 1 -->
    <div class="col-md-4">
      <div class="card rounded-2 bg-danger text-white">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title">Groups</h5>
          <h6>{{ quantities.Groupe ? 'x'+quantities.Groupe : ''  }}</h6>
        </div>
        <div class="card-body">
          <a href="#" routerLink="/groups" class="text-decoration-none text-white d-flex align-items-center gap-2 btn-med">
            <div>View Virement</div> <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Effectifs et Groupes</h5>
        </div>
        <div class="card-body">
          <div>
            <!-- Bar Chart -->
            <canvas id="myBarChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Répartition des Entités Opérationnelles</h5>
        </div>
        <div class="card-body">
          <div>
            <!-- Doughnut Chart -->
            <canvas id="myDoughnutChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Additional content below -->
</div>
